{% extends 'core/base.html' %}

{% block title %}Registar Cliente{% endblock %}

{% block content %}  
{% for sel in sellerlog %}
    {% if sel.user == request.user %}

    <div class="container bg top bot col-sm-11 col-md-5 p-5 mb-5">
        <h3>Crear nuevo cliente</h3> <br>
        <form id="form_creacion" action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>        
                <br>
            <div class="col-12 text-center">
                <input type="submit" class="btn home container text-centercol-sm-10 col-md-6 btn-block" value="Crear" />
                <a href="{% url 'seller' %}">
                    <input type="button" class="btn home container text-centercol-sm-10 col-md-6 btn-block" value="Cancelar" />
                </a>
            </div>                  
        </form>
    </div>

    {% endif %}
{% endfor %}   
{% endblock %}

