{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block thispage %}
<style>
  .word { 
    font-size: 48px;
    color: white;
    line-height: 1em;
    height: 1em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .word:before {
    content: '';
    background-color: black;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
  }
  body {
    background-color:rgba(45,46,62,0.9)!important;
    
  }
  body:hover {
    background-color: #121d23 !important;
  }

  body {
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0,5s;
  }
 
  @media (min-width: 200px) and (max-width:768px){ 
    .word {  
    font-size: 2.4em !important;
    height: 3em !important;
  }
  .word:before {
    display:none;
  }
  }
  </style>

{% endblock %}
{% block content %} 

<!-- Admin -->
{% if request.user.is_authenticated %}

  {% if request.user.is_staff %}
    <div class="container text-center top bot col-11 col-md-8">
      <h4 class="m-5">¡Bienvenido otra vez {{request.user.first_name}}!<br>¿Qué deseas hacer?</h4> 
      <div class="container col-12 text-center">
        <a href="{% url 'admin:registration_seller_add' %}">
          <input type="button" class="btn home container text-center col-sm-6 col-md-4 btn-block" value="Nuevo vendedor" />
        </a>
        <a href="admin/">
          <input type="button" class="btn home container text-center col-sm-6 col-md-4 btn-block" value="Panel administrador" />
        </a>
      </div>
    </div> <br><br>
  {% else %}

<!-- Authenticated users -->
    <div class="container text-center logged col-12 col-md-6 mt-5">
      <h4 class="m-5">¡Hola {{request.user.first_name}}! Gracias por elegirnos.</h4> 
      
      <!-- Button for sellers -->
      {% for sel in sellerlog %}
        {% if sel.user == request.user and sel.seller_active == True %}
        <h4>¿Qué deseas hacer?</h4>
        <div class="container text-center col-8 col-md-6">
          <a href="{%url 'seller' %}">
            <input type="button" class="btn home container text-center btn-block" value="Ir a mis clientes"/>
          </a>
        </div>
        {% endif %}
      {% endfor %} 
      
      <!-- Button for clients -->
      {% for cli in clientlog %}
        {% if cli.user == request.user and cli.client_active == True %}
        <h4>¿Qué deseas hacer?</h4>
        <div class="container text-center col-8 col-md-6">
          <a href="{%url 'panel' user.id %}">
            <input type="button" class="btn home container text-center btn-block" value="Ir a mi Inversión" />
          </a>
        </div>
        {% endif %} 
      {% endfor %}  
      <div class="container text-center col-11 col-md-6 mt-5 mb-2">
        <p>Por consultas, escribinos a 
          <a class="normal" href="mailto:gomoneyplanet@gmail.com?&subject=The%20subject%20of%20the%20email&body=The%20body%20of%20the%20email">gomoneyplanet@gmail.com</a>
        </p>
      </div>
    </div>  <br> 
  {% endif %}

<!-- Unauthenticated users -->
{% else %}
  <div class="container zero top col-12 text-center mb-5">
    <div>
      <span class="word mb-3" id="word">
      </span> 
    </div> 
    <div class="desktop">
      <p>Abierto 24hs</p> <br>
    </div>
    <div class="mobile mt-5 mb-5">
      <p>Abierto 24hs</p> <br>
    </div>
  </div>
  {% load static %}
  <div class="zero text-center mt-5">
    <img class="col-sm-12 centerimg col-md-9" src="{% static 'core/img/home.png' %}" alt="">
  </div> 

  <!-- Publicidades activas -->
  <div class="row mb-5 mt-5">
    <div class="container col-11">
    {% for pub in publish %}
      {% if pub.active == True %}
        <div class="container text-center col-sm-12 col-md-8">
          <h2>             
              {{pub.title}}
            </h2>
            <div class="container zero text-justify col-12">
            <p>{{pub.text|safe}}</p>
          </div>
        </div>        
        {% if pub.video %}   
        <div class="desktop container col-8 text-center mt-5" id="video">
          <iframe src="{{pub.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>  
        <div class="mobile container col-12 text-center mb-5">
          <iframe height="100" src="{{pub.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}  
      </div>
      {% endif %}
    {% endfor %}
</div>          
{% endif %}
    
<script>
var words = ['Servicio de Inversiones'],
  wordWrapper = document.getElementById('word'),
  wordWrapperContent = wordWrapper.innerHTML,
  addingWord = false,
  counter = 1;

setInterval(function(){

  if(wordWrapperContent.length > 0 && !addingWord ) {
    wordWrapper.innerHTML = wordWrapperContent.slice(0, -1);
    wordWrapperContent = wordWrapper.innerHTML;
  } else {
    addingWord = true;
  }

  if( addingWord ){
    if( wordWrapperContent.length < words[counter].length  ) {
      wordWrapper.innerHTML = words[counter].slice(0, wordWrapperContent.length + 1);
      wordWrapperContent = wordWrapper.innerHTML;
    } 
  }
  if( counter == words.length) {
    counter = 0;
  }
}, 100);

/*
setTimeout( function() {
  window.location.href="#video";}, 5000);
*/
</script>

{% endblock %} 



