{% extends 'core/base.html' %}

{% block title %}Estado de mi inversión{% endblock %}

{% block content %} 

<!-- Cliente activo -->

{% if request.user == client.user %}
    {% if client.client_active == True%}

    <!-- SubNav-->
    <div class="row subnav zero">        
        <marquee behavior="scroll" direction="">
        </marquee>   
        {% for obj in data %}  
            {% if obj.market_cap_rank < 5 %}
                <!-- Ranking 4 monedas -->
                <div class="row currency zero col-xs-8 col-md-3 float-left">        
                    <div class="container zero col-3">
                        <img src="{{obj.image}}" class="currency float-left" alt="">
                    </div>
                    <div class="container zero col-5 float-left pt-3">
                        <h5>
                            {{obj.name}}
                        </h5>                        
                        <p>
                            {{obj.symbol|upper}}
                        </p>
                    </div>        
                    <div class="container zero col-4 float-left pt-3">
                        <h5>
                            € {{obj.current_price|floatformat:1}}
                        </h5>
                        {% if obj.market_cap_change_percentage_24h < 0 %}
                        <p class="baja">
                            {{obj.market_cap_change_percentage_24h|floatformat:2}}%  
                        </p>
                        {% else %}
                        <p class="alza">
                            {{obj.market_cap_change_percentage_24h|floatformat:2}}%  
                        </p>
                        {% endif %}   
                    </div>                   
                </div>        
                {% endif %}
            {% endfor %}                            
    </div>
    <div class="row master">        
        <div class="row col-12">
            <div class="container panel-title col-12">
                <h4 class="float-left col-7 mt-2">Cliente: {{request.user.first_name}} {{request.user.last_name}}</h4>
                <p class="float-right mt-2">Vendedor asignado: {{client.seller}} <br>
                    Fecha de inicio: {{client.start|date:"SHORT_DATE_FORMAT"}}
                </p>
            </div>
            <div class="container text-center panel-bot col-5"> 
                {% if client.plan %}
                <h4>Inversión inicial:</h4> 
                <h2>
                    € {{client.plan.invertion}}
                </h2>                    
                {% else %}
                <h4>Todavía no ha iniciado ninguna inversión.</h4>
                {% endif %}                    
            </div>
            <div class="container col-1"></div>
            <div class="container  text-center panel-bot col-6">
                <h4>                    
                    {% if client.start %}
                    Su inversión finaliza en:                            
                </h4>
                <h2>
                    {{days}} días 
                </h2>                       
                {% endif %}
            </div>                
        </div>        
        <div class="row col-12">
            <div class="container text-center panel-bot col-6">
                {% if client.gain %}
                <h4>Ganancia acumulada:</h4>
                    <h2>
                        € {{client.gain}}
                    </h2>
                {% else %}
                    <h4>
                        Aún no registra ganancias.
                    </h4>
                    <h6>Las mismas se actualizan semanalmente.</h6>
                {% endif %}
            </div>
            <div class="container col-1"></div>
            <div class="container text-center panel-bot col-5">                        
                {% if client.currency %}
                    <h4>Moneda elegida:</h4>
                    <h2>
                        {{client.currency|capfirst}}
                    </h2>                 
                {% else %}
                    <h4>
                        Sin especificar <br>
                        moneda elegida. 
                    </h4>
                {% endif %}
            </div>                 
        </div>  
    </div>    
    {% else %}
        <div class="container text-center top bot bg col-sm-11 col-md-6 p-5">
        <h4>Su solicitud se encuentra en proceso de admisión, en breve lo activaremos. <br><br><br>Cualquier consulta escribir a gomoneyplanet@gmail.com</h4>
        <button class="home col-6 mt-5"><a class="visible" href="{% url 'logout' %}">Logout</a></button> <br>
        </div>  
    {% endif %}
{% endif %}

<!-- Api all cryptos -->
{% comment %}
{% for obj in data %}   
<div class="container bg bot">
    <img src="{{obj.image}}" class="currency float-left" alt="">
    {{obj}} 
</div>
{% endfor %}
{% endcomment %}

{% endblock %}
