{% extends 'core/base.html' %}

{% block title %}Planes vigentes{% endblock %}

{% block content %} 

<!-- User authenticated -->
{% if request.user.is_authenticated %}

<!-- Plans 50, 100, 300 and 500 -->
<div class="row col-12">
    <div class="container text-center col-12 mt-5 mb-5">
        <h3>Planes vigentes</h3>         
    </div>
    <div class="container text-center col-sm-12 green">
        <div class="price zero mb-3">
            <h2>€ 50</h2>   
            <p>Inversión inicial</p>          
        </div>
        {% for plan in plans %}  
            {% if plan.invertion == 50 %}    
            <p class="mb-3">
                {{plan.time}} MESES: € {{plan.result|floatformat:0}} <br>{{plan.percent}}% mensual<br>                     
            </p>          
            {% endif %}                            
        {% endfor %}
    </div>
    <div class="container text-center col-sm-12 green">
        <div class="price zero mb-3">
            <h2>€ 100</h2>   
            <p>Inversión inicial</p>          
        </div>
        {% for plan in plans %}  
            {% if plan.invertion == 100 %}    
            <p class="mb-3">
                {{plan.time}} MESES: € {{plan.result|floatformat:0}} <br>{{plan.percent}}% mensual<br>                     
            </p>          
            {% endif %}                            
        {% endfor %}
    </div>
    <div class="container text-center col-sm-12 green">
        <div class="price zero mb-3">
            <h2>€ 300</h2>   
            <p>Inversión inicial</p>          
        </div>
        {% for plan in plans %}  
            {% if plan.invertion == 300 %}    
            <p class="mb-3">
                {{plan.time}} MESES: € {{plan.result|floatformat:0}} <br>{{plan.percent}}% mensual<br>                     
            </p>          
            {% endif %}                            
        {% endfor %}
    </div>
    <div class="container text-center col-sm-12 green">
        <div class="price zero mb-3">
            <h2>€ 500</h2>   
            <p>Inversión inicial</p>          
        </div>
        {% for plan in plans %}  
            {% if plan.invertion == 500 %}    
            <p class="mb-3">
                {{plan.time}} MESES: € {{plan.result|floatformat:0}} <br>{{plan.percent}}% mensual<br>                     
            </p>          
            {% endif %}                            
        {% endfor %}
    </div>  
</div> 

{% endif %}
    
{% endblock %}
