{% extends 'core/base.html' %}

{% block title %}Clientes{% endblock %}

{% block thispage %}
<style>
div.line:hover {
    background-color: lightblue;
}
p.edit{
    float: left !important;
    width: 2%;
    margin-right: 2%;
}
p.client {
    float: left !important;
    width: 8%;
    margin-right: 1%;
    text-align: left;
}
p.lg {
    width: 11%!important;
}
p.last {
    text-align: right;
}
a {
  color: white;
}
@media (min-width:768px){
  footer {
      position: absolute !important;
      bottom: 0px !important;
  }
}
</style>

{% endblock %}

{% block content %} 

<!-- Vendedor activo -->
{% if request.user == seller.user %}
  {% if seller.seller_active == True %}

    <div class="container text-center bg bot top col-xs-11 col-md-11 mt-5">
        <div class="row">
        <h3 class="float-left mb-5 ml-3">Clientes de {{request.user.first_name}} {{request.user.last_name}}:</h3>
            <br>    
 
            <div class="container float-left col-12 mb-1">
                <p class="edit"></p>
                <p class="client lg">Usuario</p>
                <p class="client">Inicio</p>
                <p class="client">Contrato</p>
                <p class="client">Invertido</p>
                <p class="client">Ganancia</p>
                <p class="client">Monedas</p>
                <p class="client">Telefono</p>
                <p class="client ">Activo</p>
                <p class="client ">Botón pago</p>
                <p class="client lg last">Link botón</p>
            </div> 
            <br>
            {% for client in seller.profile_set.all %}
            <div class="container col-12 mb-3 line">

                {% if client.client_active == True%}     
                        <p class="edit" onClick="editClient({{client.id}})" data-toggle="modal" data-target="#myModal")"><i class="fas fa-user-edit"></i></p>                
                    {% if client %}                   
                    <p class="client lg">{{client.user.first_name}} {{client.user.last_name}}</p>
                    {% endif %}

                    {% if client.start %}
                    <p class="client">{{client.start|date:"SHORT_DATE_FORMAT"}}</p>
                    {% else %}
                    <p class="client">-</p>
                    {% endif %}

                    {% if client.days %}
                    <p class="client">{{client.days}} días</p>
                    {% else %}
                    <p class="client">-</p>
                    {% endif %}

                    {% if client.money %}
                    <p class="client">€ {{client.money}}</p>
                    {% else %}
                    <p class="client">-</p>
                    {% endif %}

                    {% if client.gain %}
                    <p class="client">€ {{client.gain}}</p>
                    {% else %}
                    <p class="client">-</p>
                    {% endif %}

                    {% if client.currencys %}
                    <p class="client">{{client.currencys}}</p>
                    {% else %}
                    <p class="client">-</p>
                    {% endif %}
                  
                    {% if client.phone %}
                    <p class="client">{{client.phone}}</p>
                    {% else %}
                    <p class="client">-</p>
                    {% endif %}

                    {% if client.client_active == True %}
                    <p class="client "> Sí</p>
                    {% else %}
                    <p class="client"> No</p>
                    {% endif %}

                    {% if client.paybutton == True %}
                    <p class="client ">Visible</p>
                    {% else %}
                    <p class="client">No visible</p>
                    {% endif %}

                    {% if client.urlbutton %}
                    <p class="client lg last">{{url.button}}</p>
                    {% else %}
                    <p class="client lg last">Añadir url</p>
                    {% endif %}
                {% endif %}
            </div>        
            {% endfor %}

            <div class="container  text-center">
              <button class="home col-xs-8 col-md-6 mb-5"><a href="">Añadir nuevo cliente</a></button> <br>
            </div>
        </div>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="gain">Gain</label>
            <input class="form-control" id="form-gain" type="text" name="formGain"/>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<!-- Vendedor pendiente de activacion -->
  {% else %}
  <div class="container text-center top bot bg col-sm-11 col-md-6 p-5">
    <h4>Su solicitud se encuentra en proceso de admisión, en breve lo activaremos. <br><br><br>Cualquier consulta escribir a gomoneyplanet@gmail.com</h4>
    <button class="home col-6 mt-5"><a class="visible" href="{% url 'logout' %}">Logout</a></button> <br>
    </div>     
  {% endif %}
{% endif %}
{% endblock %}
