/* ALL PAGES AND DEVICES */
* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}
body {
    background-color: #121d23;
    width: 100vw;
    margin: 0%;
    padding: 0%;
}

p, h1, h2, h3, h4, h5 {
    color: #f5f0f6;
}
.black {
    color: black !important;
}
iframe {
    width: 80%;
    height: 350px;
    margin-top: 3vh;
    margin-left: 10%;
    margin-right: 10%;
}
/* Divs */
div.dad {
    min-height: 90vh;
    margin: 0% !important;
    padding: 0% !important;    
}
div.bg {
    background-color: #f5f1f7 !important;
}
div {
    padding: 1vh;
}
div.logged {
    min-height: 45vh;
}
div.zero {
    padding: 0px;
    margin: 0px;
}
div.top {
    margin-top: 10vh;
}
div.bot{
    margin-bottom: 15 !important;
}
div.title {
    background-color: rgba(45,46,62,0.9)!important;
    border-radius: 10px;
}
div.faq {
    border: 1px solid #121d23;
}
  div.faq:hover {
    border: #d8cd9a solid 1px;
}

/* Buttons and links */
input.btn {
    background-color: #646eab !important;
    color: white !important;
    border-color: #232a34
}
.home {
    background-color: #646eab;
    height: 5vh;
    border-radius: 5px;
    margin-top:2vh;
}
a.home {
    color:white!important;
}
a {
    color: #646eab !important;
    text-decoration: none;
}
a:hover {    
    text-decoration: none;
}
a.normal:hover {
    text-decoration: underline;
}
input.home:hover {
    color: #d8cd9a !important;
}
a.normal {
    color: #646eab;
}
.white {
    color: white !important;
    background-color:#232a34;
    border-radius: 10px;
}
.errorlist {
    color:red;
    } 
label {
    display: none;
}
.date {
    border: #d8cd9a solid 1px;
    background-color:rgba(45,46,62,0.9)!important;
}

/* Footer */
footer {
    background-color:rgba(45,46,62,0.9)!important;
    color: white;
    width: 100vw;
    height: 10vh;
    padding-top: 1vh;
    margin: 0%;
}
a.envelope {
    color: white !important;
}
a.envelope:hover {
    color: #d8cd9a !important;
}

/* PLAN PAGE */
div.price {
    border-bottom: 1px #d8cd9a solid;
    margin-bottom: 1vh;
}
div.green {
    border: 1px  #d8cd9a solid;
    padding: 3vh;
    margin-bottom: 5vh;
  }

/* PANEL PAGE */
div.subnavdesktop {
    background-color:#363d40 !important;
    min-height: 10vh;
    width: 100vw !important;
    color: white;
    margin-top: 0% !important;
}
div.master  {
    overflow: hidden;
    width: 70vw;
    margin-left: 15vw;
}
img.currency {
    height: 5vh;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
    margin-right: 0%;
}
div.currency {
    border-right: solid 1px;
}
div.panel-title {
    border: #d8cd9a solid 1px;
    margin-bottom: 3vh;
    padding-right: 5vh;   
} 
div.logg {
    background-color: rgba(45,46,62,0)!important;
    border: 1px #d8cd9a solid;
}

div.min {
    min-height: 50vh;
}
p.baja {
    color: #FF3131 !important;
}
p.alza {
    color: #94D191 !important;
}
p.float-right {
    text-align: right;
}
a {
    color:white;
}

/* SELLER PAGE */
div.line:hover {
    background-color: #d8cd9a !important; 
}
.edit{
    color: #232a34 !important; 
    float: left !important;
    width: 2%;
    margin-right: 1%;
}
.edit:hover{
    color: #646eab !important; 
}
p.client {
    float: left !important;
    text-align: left;
    width: 12%;
    margin-right: 0%;
    color: black!important;
}
p.clientmd {
    float: left !important;
    text-align: left;
    width: 15%!important;
    margin-left: 1%;
    color: black!important;
}
p.last {
    text-align: right;
}
a {
  color: white;
}

/* MOBILE */
@media (min-width: 200px) and (max-width:768px){ 
    div.desktop {
        display: none;
      }
      div.mobile {
        display: block;
      }
      div.subnavdesktop {
        display: none;
    }
    iframe {
        width: 80%;
        height: 150px!important;
    }
    /* Nav mobile*/
    nav.navbar {
        display: none;
    }
    div.navmob {
        background-color:rgba(45,46,62,0.9)!important;
        width: 100vw;
        margin: 0px;
        height: 12vh;
    } 
    a.logo {
        color:#f6f1f7 !important;
        font-family: 'Alfa Slab One', cursive;
    }
    div.green {
        margin-left: 4vh;
      }
    button.dropdown-toggle {
        color:  white !important;
        float: right;
        width: 7vw;
    }
    a.nav-link{
        color:  #232a34 !important;
        font-size: 1,6em!important;
    }
    button.mobile{
        background-color:rgba(45,46,62,0)!important;
    }

    /* Subnav */
    div.subnav {
        background-color:#6E6E70 !important;
        width: 100vw;
        height: 30vh;
        color: white;
    }
    a.logo {    
        color: white!important;   
        margin-top: 2%;
    }
    /* Divs */
    div.top {
        margin-top: 10vh;
    }
  
    div.bot{
        margin-bottom: 15 !important;
    }
    /* Footer */
    footer {
        height: 20vh;
        padding-top: 1vh;
    }   
    div.rect {
        background-color:#363d40 !important;
        height: 10vh;
        color: white;
        margin-top: 0% !important;
    } 
}

/* DESKTOP */
@media (min-width:768px){
    /* HOME PAGE */
    div.mobile {
        display: none;
    }
    div.desktop {
        display: block;
    }
    div.navmob {
        display: none;
    }    
    a.nav-link{
        color:  white !important;
        font-size: 1,5em!important;
    }
    a.log {

        border: 1px #d8cd9a;
        min-width: 10vh;
        text-align: center;
    }
    a.log:hover {
        color: #d8cd9a;
        text-decoration: underline;
    }

    /* Navbar */
    a.logo {
        font-family: 'Alfa Slab One', cursive;
        font-size: 1.2em;
        font-weight: lighter;
        color:#f6f1f7 !important;
    }
    a.logo:hover {
        color:#d8cd9a !important;    
    }
    a.logo {
        transition-property: color;
        transition-duration: 0.7s;
        transition-timing-function: linear;
        transition-delay: 0,5s;
      }
    nav.navbar {
        background-color:rgba(45,46,62,0.9)!important;
        width: 100vw;
        margin: 0px;
        height: 10vh;
        visibility: visible;
        height: 10vh;
        margin: 0% !important;
    }
    div.green {
        padding: 3vh;
        max-width: 22%;
        margin-bottom: 5vh;
     
      }

}